@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.danger {
  color: $danger-color;
}
