@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  background-color: $background-color;
  color: $text-color;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}
