$background-color: rgb(34, 40, 49);
$primary-color: rgb(57, 62, 70);
$secondary-color: rgb(0, 173, 181);
$text-color: rgb(238, 238, 238);

$danger-color: rgb(255, 68, 68);

$border-color: change-color($text-color, $alpha: 0.3);
$hover-color: adjust-color($primary-color, $lightness: 5%)
